.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 3em;
}

#composition {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    flex: 1;
}

#note-color-picker {
    width: 100px;
    border-right: 1px solid grey;
    flex: 0;
    padding-left: 2em;
    padding-right: 2em;
}

#notes {
    flex: 1;
    min-width: 100%;
    border-bottom: 1px solid grey;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.passage {
    padding: 1em;
    margin: 0;
    text-align: left;
}

.passage + .passage {
    border-left: 1px solid grey;
}

.chord {
    letter-spacing: -2em;
}

#note-input {
    flex: 2;
    width: 100%;
    padding: 1em;
    margin: 0;
}

.note {
    font-size: 3em;
    font-weight: bold;
}

#note-color-picker .note {
    cursor: pointer;
    user-select: none;
    border: 2px solid rgba(40,40,40,0.2);
    border-radius: 50px;
}

#notes .note {
    margin-left: .5em;
    margin-right: .5em;
}

.color-picker-frame {
    border: 2px solid grey;
    border-radius: 5px;
    background: white;
    padding: 1em;
    position: absolute;
    margin-top: -6em;
    margin-left: 5em;
}

.clickaway-overlay {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-input {
    font-size: 2em;
    padding: .5em;
}

#note-input .text-input {
    height: 100%;
    width: 300px;
}

#footer {
    padding: 1em 3em;
}
